<div class="container">
  <div class="row">
    <button (change)="eventChange()"> submit</button>
  <!-- <input type='text' class="form-control" [(ngModel)] = 'val'>
 <button class="btn btn-primary" (change)="eventChange()" (click)="addval(val)">Submit</button>
  <p *ngFor = 'let valuser of data_val'>{{valuser.user}}<br></p>
    <div *ngFor="let val of data_val ; let id = index" class="col-sm-3">
     <app-newComponent (togeteId)="addImag($event)" (deleteId)="sub_del($event)" [index] = "id"  [simple_datas]="val" ></app-newComponent>
    </div> -->
  </div>
</div>
