.customcard{
  height: 150px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color:#FCEA51 ; width: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-text{
  font-size: 35px;
color: #535151;
  font-weight: 500;
}
.cardval{
  font-size: 15px;
}
