

<button (click)='Gotostd()'> Goto student Page</button>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="card customcard">
            <span class='card-text'>Fees</span>
            <span class='card-text cardval'>50000/100000</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card customcard">
            <span class='card-text'>Attendence</span>
            <span class='card-text cardval'>180/200</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card customcard">
            <span class='card-text'>Staff</span>
            <span class='card-text cardval'>20/21</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card customcard">
            <span class='card-text'>Grade</span>
            <span class='card-text cardval'>2/200</span>
          </div>
        </div>

      </div>
      </div>
